.help-div{
	font-size: 14px;
	line-height: 37px;
	padding: 0 0 0 30px;
	box-sizing: border-box;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 30px;
	top: 0;
}

.swagger-resource{
	display: none;
}

.hidden,.sandbox_header.collapse.in,input.parameter.ui-form-control,.body-textarea.ui-form-control{
	display: none;
}

@media screen and (max-width: 835px){
	.help-div{
		padding: 10px 0 0 20px;
		display: block;
		position: static;
		text-align: left;
	}
}

@media screen and (max-width: 640px){
	.help-div{
		display: none;
	}
}

.help-div .contact-link{
	display: inline-block;
	padding-right: 30px
}

header.site-header.site-header .help-div div a{
	color: #1bd5b5;
	cursor: pointer;
}
header.site-header.site-header .help-div div a:hover{
	text-decoration: none;
	color: #179e86;
}

.swagger-section pre{
	background-color: #363D44;
}
#api2-explorer code.json{
	font-size: 13px;
	font-family: monospace;
	font-weight: 800;
	color: #1bd5b5;
}
span.attribute{
	color: orange;
}
#api2-explorer .btn{
	background-color: #1bd5b5;
	color: white;
	border-radius: 22px;
	border: none;
}
#api2-explorer .btn.btn-default{
	background-color: white;
	height: 30px;
	padding: 0 15px;
	line-height: 1;
	color: #1bd5b5;
	border: 1px solid #1bd5b5;
	box-sizing: border-box;
}
.swagger-section .operation.get .http_method a,.swagger-section .operation.post .http_method a{
	background-color: #db4c3f;
	color: white;
}
.swagger-section .operation.post .http_method a{
	background-color: orange;
}

.swagger-section .operation.post .http_method a:hover,
.swagger-section .operation.post .http_method a:active,
.swagger-section .operation.post .http_method a:focus,
.swagger-section .operation.post .http_method a:visited,
.swagger-section .operation.get .http_method a:hover,
.swagger-section .operation.get .http_method a:active,
.swagger-section .operation.get .http_method a:focus,
.swagger-section .operation.get .http_method a:visited
{
	text-decoration: none;
}
#api2-explorer .btn:hover{
	background-color: #179e86;
}
#api2-explorer .btn.btn-default:hover{
	background-color: white;
	color: #179e86;
	border-color: #179e86;
}
.swagger-section .operation.get .http_method a:hover{
	background-color: #c13225;
}
.swagger-section .operation.post .http_method a:hover{
	background-color: #f57c00;
}



.swagger-section .heading .path a{
	line-height: 1.5;
	box-sizing: border-box;
	border-bottom: 1px solid white;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.path a:hover{
	text-decoration: none;
	border-bottom: 1px solid #666;
}

.swagger-section pre .change, .swagger-section pre .date, .swagger-section pre .go .constant, .swagger-section pre .literal, .swagger-section pre .markdown .bullet, .swagger-section pre .markdown .link_url, .swagger-section pre .number, .swagger-section pre .regexp, .swagger-section pre .smalltalk .char, .swagger-section pre .smalltalk .symbol, .swagger-section pre .tag{
	color: white;
}
